* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #003D4C;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #D6D2C4;;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*<--------------- Header stuff ---------------------------->*/

#headerBox {
  width: 785px;
  height: 60px;
  background-color: #003D4C;
  margin-bottom: 2px;
}

#monthNav {
  width: 500px;
  height: 60px;
  float:left;
}

#monthTitle {
  text-align: center;
  float:left;
  width:370px;
  margin: 5px 0px 5px 0px;
}

#monthTitle h2 {
  color: #D6D2C4;
  padding-top: 10px;
}

#monthPrev {
  float:left;
  margin: 5px 5px 5px 10px ;
}

#monthNext {
  float:right;
  margin: 5px 10px 5px 5px;
}

.arrow {
  border: solid #D6D2C4;
  border-width: 0px 3px 3px 0px;
  display: inline-block;
  padding: 6px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left:-6px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 6px;
}

.navButton {
  width:50px;
  height: 50px;
  background-color: #003D4C;
  color: #D6D2C4;
  border: 2px solid #D6D2C4;
  font-size: 25px;
  cursor: pointer;
}

.navButton:active {
  background-color: #D6D2C4;
  color: #003D4C;
}

.navButton:focus {
  outline-color: #8F993E;
}

#settings{
  float:right;
  border: solid 2px #D6D2C4;
  margin: 5px 0px 5px 5px;
  padding: 2px;
}

.signInOut {
  display:none;
  width: 250px;
  height: 40px;
  margin: 60px 0px 5px 10px;
  background-color: #AC145A;
  color: #D6D2C4;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.signInOut.showing {
  display: block;
}

.signInOut:hover {
  background-color: #D6D2C4;
  color: #003D4C;
}

.signInOut:active {
  background-color: #003D4C;
  color: #D6D2C4;
}

.signInOut:focus {
  outline-color: #8F993E;
}

#settings-menu {
  width: 42px;
  height: 42px;
  transition: 0.4s;
}

#settings-menu.showing {
  display:block;
  width: 270px;
  height: 400px;
  clear:both;
}

.menu-icon-container {
  display: block;
  cursor: pointer;
  float:right;
}

.menu-icon-bar1, .menu-icon-bar2, .menu-icon-bar3 {
    width: 40px;
    height: 5px;
    background-color: #D6D2C4;
    transition: 0.4s;
}

.menu-icon-bar1 {
    margin: 8px 1px 6px 1px;
}

.menu-icon-bar2 {
    margin: 6px 1px 6px 1px;
}

.menu-icon-bar3 {
    margin: 6px 1px 7px 1px;
}

.change .menu-icon-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .menu-icon-bar2 {opacity: 0;}

.change .menu-icon-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*------------------ End of Header stuff -------------------*/

/*----------------- Calendar container -------------------*/

#calendarBox {
  width: 500px;
  height: 410px;
  background-color: #003D4C;
  float:left;
}

#weekdayLabels {
  width: 100%;
  clear: both;
  padding-left: 5px;
}

.dayOfWeek {
  width: 60px;
  height: 20px;
  float: left;
  background-color: #003D4C;
  margin: 0px 5px 5px 5px;
  font-family: 'Ubuntu', sans-serif;
  color: #D6D2C4;
  padding-top: 0px;
  text-align: center;
}

#Saturday, #Sunday {
  background-color: #003D4C;
}

#monthLayout {
  padding-left: 5px;
}

.dateBox {
  width: 60px;
  height: 60px;
  float:left;
  background-color: #AC145A;
  margin: 2px 5px 2px 5px;
  color: #D6D2C4;
  cursor: pointer;
}

.dateBox p {
  margin-top: 0px;
  margin-left: 2px;
}

.Saturday, .Sunday {
  background-color: #AC145A;
}

.dateBox.notCurrent {
  background-color: #003D4C;
  color: #003D4C;
  pointer-events: none;
}

.selected {
  background-color: #8F993E;
}

.dayNumber {
  float:left;
  margin: 5px 2px 2px 5px;
}

.wt {
  float:right;
  margin: 5px 3px 0px 0px;
  text-align: center;
  font-size: 12px;
}

.wt p {
  margin-bottom: 2px;
}

.wt i {
  font-size: 20px;
}

/*.selected {
  border-style: solid;
  border-width: 2px;
  border-color: #8F993E;
  margin: 0px 3px 0px 3px;
}*/

/*-------------------- End of calendar container ---------*/

/*----------- Detail box styles ---------------------*/

#detailBox {
  width: 285px;
  height: 410px;
  background-color: #003D4C;
  float: left;
  font-family: 'Ubuntu', sans-serif;
  color: #D6D2C4;
  display:none;
  margin-bottom: 5px;
  position:relative;
}

/* #detailBox h3 {
  color: #D6D2C4;
  margin-bottom: 5px;
} */

#detailBox.showing {
  display:block;
}

#detailName {
  text-align: right;
  position:absolute;
  top:0px;
  height: 22px;
}

#daysEvents {
  position:relative;
}

.eventSummary {
  background-color: #AC145A;
  width: 275px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.eventDescription p:nth-child(2){
  overflow-y: auto;
  height: 200px;
  padding-right: 10px;
}

.eventSummary p {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0 0 5px;
}

.locDesc {
  font-style: italic;
}

.clsBtn {
  width: 20px;
  height: 20px;
  border: 1px black;
  float: right;
  cursor: pointer;
}

.delBtn {
  width: 60px;
  height: 20px;
  text-align: center;
  background-color: #AC145A;
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#weather {
  position:absolute;
  width:100%;
  top:27px;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  font-size: 15px;
  text-align: right;
}

#weather.showing {
  max-height: 50px;
  transition: max-height 0.5s ease-in;
}

#weather i, #weather .Dm {
  font-size: 20px;
}

.hourlyForecastBtn {
  float:right;
  margin-left: 10px;
}

.circle-plus {height:6em; width:6em; font-size:0.25em /*Will change icon size*/;}
.circle-plus .circle {position: relative; width: 4.5em; height: 4.5em; border-radius: 100%; border: solid .5em #D6D2C4;}
.circle-plus .circle .horizontal {position: absolute; background-color: #D6D2C4; width: 2.4em; height: .7em; top: 1.9em; left: 1.05em;}
.circle-plus .circle .vertical {position: absolute; background-color: #D6D2C4; width: .7em; height: 2.4em; top: 1.05em; left: 1.9em;}


/*-------------- End of detail box styles ----------------*/

/*-------------- Slideshow styles ----------------*/

#carousel {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 4;
}

#carousel.showing {
  display: block;
}

.slide {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  display:none;
}

.slide.showing {
  display:block;
}

#actionBar {
  width:100%;
  height:30%;
  position:absolute;
  top:70%;
  left:0%;
  background-color: rgba(0,0,0,0.5);
  z-index: 6;
  display:none;
}

#actionBar.showing {
  display:block;
}

#action-button-wrapper {
  clear:both;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
}

#next-slide, #prev-slide {
  color: #D6D2C4;
  height: 60px;
  width: 60px;
  background-color: rgb(172,20,90);
  opacity: 1;
  cursor: pointer;
  border: none;
}

#next-slide {
  float:left;
  margin-left: 20px;
}

#prev-slide {
  float:left;
}

#show-calendar {
  color: #D6D2C4;
  height:60px;
  width: 200px;
  float:right;
  margin-right: 0px;
  background-color: rgb(172,20,90);
  opacity: 1;
  cursor: pointer;
  border: none;
}

#date-info {
  height:60px;
  width:50%;
  float:left;
  color: #D6D2C4;
  margin-left: 50px;
  padding-top: 20px;
  font-size: 30px;
}

#weather-info {
  height:60px;
  width:25$;
  float:right;
  color: #D6D2C4;
  margin-right: 50px;
  padding-top: 20px;
  font-size: 30px;
}

/*-------------- End of Slideshow styles ----------------*/

/*-------------- Other styles ----------------------------*/


.yesNo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 100px;
  margin-left: -125px;
  margin-top: -50px;
  background-color: #f1c40f;
  z-index: 10;
  outline: 9999px solid rgba(0,0,0,0.5);
  padding: 10px 20px 10px 20px;
}

.btnContainer {
  position:relative;
  margin:auto;
}

.btnContainer div {
  float:left;
  width:60px;
  text-align: center;
  border-style: solid;
  border-color: black 1px;
  margin: 20px 20px 0px 0px;
  padding:5px;
  cursor: pointer;
}
