* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width:800px;
  height:480px;
}

/*<--------------- Header stuff ---------------------------->*/

#headerBox {
  width: 100%;
  height: 60px;
  background-color: #003D4C;
}

#monthNav {
  width: 500px;
  height: 60px;
  float:left;
}

#monthTitle {
  text-align: center;
  float:left;
  width:370px;
  margin: 5px 0px 5px 0px;
}

#monthTitle h2 {
  color: #D6D2C4;
  padding-top: 10px;
}

#monthPrev {
  float:left;
  margin: 5px 5px 5px 10px ;
}

#monthNext {
  float:right;
  margin: 5px 10px 5px 5px;
}

.navButton {
  width:50px;
  height: 50px;
  background-color: #D6D2C4;
}

#settings{
  float:right;
}

/*------------------ End of Header stuff -------------------*/

/*----------------- Calendar container -------------------*/

#calendarBox {
  width: 500px;
  height: 420px;
  background-color: #003D4C;
  float:left;
}

#weekdayLabels {
  width: 100%;
  clear: both;
  padding-left: 5px;
}

.dayOfWeek {
  width: 60px;
  height: 20px;
  float: left;
  background-color: #003D4C;
  margin: 2px 5px 5px 5px;
  font-family: 'Ubuntu', sans-serif;
  color: #D6D2C4;
  padding-top: 0px;
  text-align: center;
}

#Saturday, #Sunday {
  background-color: #003D4C;
}

#monthLayout {
  padding-left: 5px;
}

.dateBox {
  width: 60px;
  height: 60px;
  float:left;
  background-color: #AC145A;
  margin: 2px 5px 2px 5px;
  color: #D6D2C4;
}

.dateBox p {
  margin-top: 0px;
  margin-left: 2px;
}

.Saturday, .Sunday {
  background-color: #AC145A;
}

.dateBox.notCurrent {
  background-color: #003D4C;
  color: #003D4C;
}

.Saturday.notCurrent, .Sunday.notCurrent {
  background-color: #003D4C;
  color: #003D4C;
}

.selected {
  border-style: solid;
  border-width: 2px;
  border-color: #8F993E;
  margin: 0px 3px 0px 3px;
}

/*-------------------- End of calendar container ---------*/

/*----------- Detail box styles ---------------------*/

#detailBox {
  width: 300px;
  height: 420px;
  background-color: #003D4C;
  float: right;
  font-family: 'Ubuntu', sans-serif;
  color: #D6D2C4;
}

#detailBox h3 {
  color: #D6D2C4;
  margin-bottom: 8px;
}

.eventSummary {
  background-color: #AC145A;
  width: 280px;
  padding: 5px;
  margin-top: 5px;
}

.clsBtn {
  width: 20px;
  height: 20px;
  border: 1px black;
  float: right;
}

/*-------------- End of detail box styles ----------------*/
