* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #003D4C;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #D6D2C4;;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*<--------------- Header stuff ---------------------------->*/

#headerBox {
  width: 785px;
  height: 60px;
  background-color: #003D4C;
  margin-bottom: 2px;
}

#monthNav {
  width: 500px;
  height: 60px;
  float:left;
}

#monthTitle {
  text-align: center;
  float:left;
  width:370px;
  margin: 5px 0px 5px 0px;
}

#monthTitle h2 {
  color: #D6D2C4;
  padding-top: 10px;
}

#monthPrev {
  float:left;
  margin: 5px 5px 5px 10px ;
}

#monthNext {
  float:right;
  margin: 5px 10px 5px 5px;
}

.navButton {
  width:50px;
  height: 50px;
  background-color: #003D4C;
  color: #D6D2C4;
  border: 2px solid #D6D2C4;
  font-size: 25px;
  cursor: pointer;
}

.navButton:active {
  background-color: #D6D2C4;
  color: #003D4C;
}

.navButton:focus {
  outline-color: #8F993E;
}

#settings{
  float:right;
}

.signInOut {
  margin: 5px 5px 5px 5px;
}

/*------------------ End of Header stuff -------------------*/

/*----------------- Calendar container -------------------*/

#calendarBox {
  width: 500px;
  height: 410px;
  background-color: #003D4C;
  float:left;
}

#weekdayLabels {
  width: 100%;
  clear: both;
  padding-left: 5px;
}

.dayOfWeek {
  width: 60px;
  height: 20px;
  float: left;
  background-color: #003D4C;
  margin: 0px 5px 5px 5px;
  font-family: 'Ubuntu', sans-serif;
  color: #D6D2C4;
  padding-top: 0px;
  text-align: center;
}

#Saturday, #Sunday {
  background-color: #003D4C;
}

#monthLayout {
  padding-left: 5px;
}

.dateBox {
  width: 60px;
  height: 60px;
  float:left;
  background-color: #AC145A;
  margin: 2px 5px 2px 5px;
  color: #D6D2C4;
  cursor: pointer;
}

.dateBox p {
  margin-top: 0px;
  margin-left: 2px;
}

.Saturday, .Sunday {
  background-color: #AC145A;
}

.dateBox.notCurrent {
  background-color: #003D4C;
  color: #003D4C;
  pointer-events: none;
}

.selected {
  background-color: #8F993E;
}

/*.selected {
  border-style: solid;
  border-width: 2px;
  border-color: #8F993E;
  margin: 0px 3px 0px 3px;
}*/

/*-------------------- End of calendar container ---------*/

/*----------- Detail box styles ---------------------*/

#detailBox {
  width: 285px;
  height: 410px;
  background-color: #003D4C;
  float: left;
  font-family: 'Ubuntu', sans-serif;
  color: #D6D2C4;
}

#detailBox h3 {
  color: #D6D2C4;
  margin-bottom: 6px;
}

.eventSummary {
  background-color: #AC145A;
  width: 275px;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
}

.eventDescription p:nth-child(2){
  overflow-y: auto;
  height: 200px;
  padding-right: 10px;
}

.eventSummary p {
  font-size: 15px;
  margin-top: 10px;
}

.locDesc {
  font-style: italic;
}

.clsBtn {
  width: 20px;
  height: 20px;
  border: 1px black;
  float: right;
  cursor: pointer;
}

.delBtn {
  width: 60px;
  height: 20px;
  text-align: center;
  background-color: #AC145A;
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/*-------------- End of detail box styles ----------------*/

/*-------------- Other styles ----------------------------*/


.yesNo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 100px;
  margin-left: -125px;
  margin-top: -50px;
  background-color: #f1c40f;
  z-index: 10;
  outline: 9999px solid rgba(0,0,0,0.5);
  padding: 10px 20px 10px 20px;
}

.btnContainer {
  position:relative;
  margin:auto;
}

.btnContainer div {
  float:left;
  width:60px;
  text-align: center;
  border-style: solid;
  border-color: black 1px;
  margin: 20px 20px 0px 0px;
  padding:5px;
  cursor: pointer;
}
